@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0457a5;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-primary: var(--primary-color);
}

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}